{# src/JV/CoreBundle/Resources/views/Billetterie/confirmation.html.twig #}

{% extends "JVCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Confirmation
{% endblock %}

{% block jvcore_body %}

  	<h3>Confirmation</h3>

  	<p>
	Ici la confirmation de la bonne validation de la commande et l'envoi de l'email
		
  	</p>
  	
  	

{% endblock %}