{# src/JV/CoreBundle/Resources/views/Billetterie/paiement.html.twig #}

{% extends "JVCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Paiement
{% endblock %}

{% block jvcore_body %}

  	<h3>Paiement</h3>

  	<div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Projet Stripe</span> Mentorat OpenClassroom</h1>
            </div>

            <div id="status">
                <p>
					Vous êtes sur le point de payer votre commande.
				</p>
				<form action="" method="POST">
					<script
							src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							data-key="pk_test_AcMEBvAm1KZKkWRVxFLlHdmA"
							data-amount="99500"
							data-name="oc-stripe"
							data-description="Widget"
							data-locale="auto"
							data-currency="eur">
					</script>
				</form>
            </div>
        </div>
    </div>
  	
  	

{% endblock %}