{# src/JV/CoreBundle/Resources/views/Billetterie/paiement.html.twig #}

{% extends "JVCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Paiement
{% endblock %}

{% block jvcore_body %}

  	<h3>Paiement</h3>

  	<p>
	Ici le formulaire de saisie du mode de paiement
		
  	</p>
  	
  	

{% endblock %}